@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(32, 91, 128);
}

.header {
    text-align: center;
    color: white;
    font-size: 35px;
    padding: 20px;
    width: auto;
    height: auto;
    margin: 0px 0px;
    font-weight: bold;
}

#achang {
    font-size: 20px;
    color: white;
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.header button {
    position: fixed;
    top: 10;
    right: 1rem;
    background-color: white;
    height: 50px;
    width: auto;
    border-radius: 15px;
    font-size: 20px;
    border: none;
}




.container {
    display: grid;
    margin: 30px 10%;
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-items: center;
}

.card {
    /* background-color: white; */
    font-size: 20px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid white;
    color: white;
    text-align: center;
}

.card span {
    font-weight: 700;
}

.container button {
    font-size: 15px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 1rem;
}

.removeBtn {
    background-color: #f06363;
}

.statusBtn {
    background-color: rgb(49, 165, 49);
}
























.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    animation-name: animatetop;
    animation-duration: 0.4s;
    position: relative;
    text-align: center;
}

label,input,select {
    /* margin-top: 10px; */
    display:flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
  
input, select {
    margin-top: 5px;
    border-radius: 10px;
}

select {
    width: 15rem;
}

.model-footer button {
    margin-top: 30px;
    font-size: 25px;
    border-radius: 15px;
    background-color: #31A531;
    border: none;
    height: 45px;
    color: white;
}

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    margin-top: -20px;
    border-bottom: 1px solid grey;
}

#resetBtn {
    background-color: #F06363
}